.app{
}
.all-card {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.card{
    background-color: grey;
    font-family: monospace;
}

.search{
    display: flex;
    justify-content: center;
    padding: 25px 50px 25px 50px;
}