#body{
    background-color: rgb(42, 40, 40);
}

.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 49px;
    justify-content: space-around;
    padding-top: 25px;
}

.card{
    font-family: monospace;
    border-radius: 10px;
    box-shadow: 2px -2px 2px  gainsboro;
    background-color: gainsboro;
}


.searchBar{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

.image{
    width: 100%;
    border-radius: 10px;
}

.text-card{
    padding: 21px;
}


.p, h1, h2{
    font-style: white;
}